/PrimerProyectoNetBeans/nbproject/private/
/PrimerProyectoNetBeans/build/
/Estructurasdelenguaje/nbproject/private/
/DeclararVariables/nbproject/private/
/DeclararVariables/build/
/ConstantesyOperadores/nbproject/private/
/ConstantesyOperadores/build/
/Math1/nbproject/private/
/Math1/build/
